
.lorem__text{
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color:get-color(contact)
}

.customers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;


        &__title {
                text-align: center;
                justify-content: center;
                padding-bottom: 30px;
                font-weight: 700;
                font-size: 28px;
                line-height: 33px;
        }
}    

.clients__icons {
        border: 1px solid get-color(icon-nonaction);
        border-radius: 4px;

        align-items: center;
        justify-content: center;
        fill: get-color(icon-nonaction);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color;
        cursor: pointer;
        &:hover,
        &:focus {
          fill: get-color(action);
          border: 1px solid get-color(action);
        }

        width: 210px;
        height: 92px;

                &--Logo1{
                        height: 50px;
                        width: 50px;
                        position: relative;
                        left: 80px;
                        top: 20px
                }
                &--Logo2{
                        height: 50px;
                        width: 50px;
                        position: relative;
                        left: 80px;
                        top: 20px

                }
                &--Logo3{
                        height: 50px;
                        width: 50px;
                        position: relative;
                        left: 80px;
                        top: 25px
                }
                &--Logo4{
                        height: 80px;
                        width: 80px;
                        position: relative;
                        left: 80px;
                        top: 10px
                }
                &--Logo5{
                        height: 60px;
                        width: 60px;
                        position: relative;
                        left: 70px;
                        top: 20px
                }
                &--Logo6{
                        height: 100px;
                        width: 100px;
                        position: relative;
                        left: 60px;
                        top: 0px
                }
        }

    // ============= Mobile =============
//@media screen and (min-width: 320px) and (max-width: 767px) {}
    
    // ============= Tablet =============
    @media screen and (min-width: 768px) and (max-width: 1199px) {
       
        .clients__icons {
                width: 226px;
        
                &--Logo1{
                        left: 88px;
                }
                &--Logo2{
                        left: 88px;
                }
                &--Logo3{
                        left: 88px;
                }
                &--Logo4{
                        left: 88px;
                }
                &--Logo5{
                        left: 78px;
                }
                &--Logo6{
                        left: 68px;
                }
        }
}
    
    // ============= Desktop =============
    @media screen and (min-width: 1200px) {
        
        .clients__icons {
                width: 170px;
        
                &--Logo1{
                        left: 60px;
                }
                &--Logo2{
                        left: 60px;
                }
                &--Logo3{
                        left: 60px;
                }
                &--Logo4{
                        left: 60px;
                }
                &--Logo5{
                        left: 50px;
                }
                &--Logo6{
                        left: 40px;
                }
        }
}
