.logo {
    text-decoration: none;
    color: get-color(action);
    font-family: get-font(secondary);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;


    &--header {
        color: get-color(text);
    }

    &--footer {
        color: get-color(light-text);
    }
}
