  .js-menu-container {
    width: 100vw;
    height: 100vh;
    border: none;
    padding-left: 40px;
    z-index: 999;
    background: get-bg-color(basic-background);
    transform: translateX(0);
    visibility: hidden;
    transition-property: transform, visibility;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
  }
  .js-menu-container .is-open {
    transform: translateX(100%);
  }
  .is-open {
    visibility: visible;
  }
  .js-close-menu {
    background: get-bg-color(basic-background);
    padding-left: 360px;
    cursor: pointer;
    padding-top: 21px;
  }
  .js-open-menu {
    background: get-bg-color(basic-background);
    height: 40px;
    padding-top: 10px;
    padding-bottom: 0px;
    cursor: pointer;
  }

  .mobile-nav__item {
    display: inline-block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    text-align: center;
    letter-spacing: 0.02em;
    color: get-color(text);
    &:hover,
    &:focus {
      color: get-color(action);
    }
  }
  .mobile-nav__item:first-child {
    padding-bottom: 32px;
  }
  
  .mobile-nav__item:nth-child(3) {
    padding-bottom: 0px;
  }
  
  .mobile-nav__active {
    color: get-color(action);
  }

  .menu{
    &__button-icon {
    fill: get-color(dark-text);
    border: none;
    
      &:hover,
      &:focus {
        fill: get-color(action); 
      }
    }

    &__contact {
      display: inline-block;
      font-weight: 500;
      letter-spacing: 0.02em;
    
      &--tel {
        font-size: 34px;
        line-height: 1.176;
        color: get-color(action);
        padding-top: 270px;
      }
      &--mail {
        font-size: 24px;
        line-height: 1.167;
        color: get-color(contact);
        padding-top: 32px;
        padding-bottom: 64px;
      }
    }
  
    &__socials {
      display: flex;
      flex-direction: row;
      
        &--item {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 1.222;
          letter-spacing: 0.02em;
          color: get-color(action);
          padding-left: 10px;
          padding-right: 10px;
          border-right: 1px solid #21212133;
          &--first {
            padding-left: 0px;
          }
          &--last {
            border-right: none;
          }
        }
    }
  }