.socials {
    display: flex;
    gap: 10px;
  
  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px none;
    border-radius: 50%;
    width: 44px;
    height: 44px;
  
  
    &--instagram {
      width: 20px;
      height: 20px;
    }
    &--twitter {
      width: 20px;
      height: 16.25px;
    }
    
    &--facebook {
      width: 30px;
      height: 30px;
    }
    
    &--linkedin {
      width: 20px;
      height: 20px;
    }
  }
}